body {
    background-color: rgb(6, 30, 70);
    color: grey;
    font-family: 'Noto Sans JP', sans-serif;
}

#head {
    text-align: center;
    margin-top: 30px;
    color: rgb(230, 110, 59);
}

#instructions {
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#main {
    margin-left: 60px;
}
button {
    margin-left: 20px;
    background-color: rgb(240 , 165, 50);
    border: none;
    transition: background-color 1s ease;
    border-radius: 5px;
    width: 60px;
    border-left: 2px solid rgb(205, 127, 50);
    border-top: 2px solid rgb(205, 127, 50);
    color: white;
}
button:hover {
    background-color: rgb(230, 110, 59);
    border-left: 2px solid rgb(240 , 165, 50);
    border-top: 2px solid rgb(240 , 165, 50);
}

.uber-div {
    margin-top: 30px;
}

#instructions-whole {
    display: flex;
}
#plus-button-div {
    margin-left: 60px;
    margin-top: 65px;
    margin-bottom: 60px;
}

#instructions-par {
    display: none;
}
.my-form {
    display: flex;
}
h3 {
    margin-right: 20px;
}
